<div id="page-wrapper">
	<!-- Header -->
	<div id="header-wrapper">
		<header id="header" class="container">
			<div id="logo">
				<h1><a href="#">KO Station</a></h1>
			</div>
			<nav id="nav">
				<ul>
				
				<li  id="menuRegister"  ><a href="#/plans">Plans</a></li>

				 <li class="current"><a href="#/carousal">Carousal</a></li>
					
					<li><a href="" ng-click="logout()">Logout</a></li>
				</ul>
			</nav>
		</header>
	</div>  
	<div id="banner-wrapper">
		<div id="banner" class="box container">
			<div>
							<form id="uploadForm"  method="post" action="upload.php" class="form-horizontal pure-form pure-form-stacked" enctype="multipart/form-data">

					<fieldset class="pure-group">
						<legend><b>Upload Image(One At a time)</b></legend>
						<label for="file">Select image : </label>
													<input  type="file" name="file" id="file" accept="image/*"/>
													
							
																		<button class="pure-button pure-button-primary" type="submit">Upload</button>

							
									
					</fieldset>
							</form>
	<fieldset class="pure-form">
	<legend><b>Select images for Carousal(Max 3)</b></legend>
	</fieldset><br>
							<table class="pure-table pure-form" style="width:100%">
    <thead>
        <tr style="text-align:center">
            <th>Sr NO</th>
            <th>Image</th>
            <th>Image Name</th>
            <th>isActive</th>
			<th>Action</th>
			<th>Action</th>
			<th>Delete</th>
        </tr>
    </thead>

    <tbody>
        
			
			<tr ng-repeat = "row in tblData" ng-class-odd="'pure-table-odd'" ng-class-even="'pure-table-even'" style="text-align:center">
            <td style="vertical-align:middle !important">{{$index+1}}</td>
            <td  style="vertical-align:middle !important"><img ng-src="../carousalImages/{{row.path}}" width="100px"/></td>
            <td style="vertical-align:middle !important">{{row.path}}</td>
            <td  style="vertical-align:middle !important">
				<select ng-model="row.isActive" ng-change="activeChanged('selectBox'+$index, $index)" id="selectBox{{$index}}">
					<option value = "1">Yes</option>
					<option value = "0">No</option>
				</select>
			</td>
			<td  style="vertical-align:middle !important"><button class="pure-button" ng-click="moveUp($index)">Move Up</button></td>
            <td  style="vertical-align:middle !important"><button class="pure-button" ng-click="moveDown($index)">Move Down</button></td>
            <td  style="vertical-align:middle !important"><button class="pure-button" ng-click="delete(row.id,$index)">delete</button></td>
			</tr>
    </tbody>
</table>
	<button class="pure-button pure-button-primary" ng-click="saveTableData()">Save</button>
				</div>                           
			</div>

		</div>
		<div ng-include src="'partials/footer.html'"></div>

	</div>




