<div id="page-wrapper">
	<!-- Header -->
	<div id="header-wrapper">
		<header id="header" class="container">
			<div id="logo">
				<h1><a href="#">KOStation</a></h1>
			</div>
			<nav id="nav">
				<ul>
				
				<li  id="menuRegister"  ><a href="#/plans">Plans</a></li>

				 <li class="current"><a href="#/carousal">Carousal</a></li>
					
					<li><a href="" ng-click="logout()">Logout</a></li>
				</ul>
			</nav>
		</header>
	</div>  
	<div id="banner-wrapper">
		<div id="banner" class="box container">
			<div class="row">
				<div class="16u pure-form">
							<form id="uploadForm"  method="post" action="upload.php" class="form-horizontal pure-form pure-form-stacked" enctype="multipart/form-data">

					<fieldset class="pure-group">
						<legend><b>Upload Image(One At a time)</b></legend>
						<label for="file">Select image
													<input  type="file" name="file" id="file" accept="image/*"/>
													</label>
							
																		<button class="pure-button pure-button-primary" type="submit">Upload</button>

							
									
					</fieldset>
							</form>
<fieldset>
	<legend><b>Select images for Carousal(Max 3)</b></legend>

							<table class="pure-table" width="100%">
    <thead>
        <tr>
            <th>Sr NO</th>
            <th>Image</th>
            <th>Image Name</th>
            <th>isActive</th>
			<th>Action</th>
			<th>Action</th>
			<th>Delete</th>
        </tr>
    </thead>

    <tbody>
        
			
			<tr valign="middle important!" ng-repeat = "row in tblData" ng-class-odd="'pure-table-odd'" ng-class-even="'pure-table-even'">
            <td>{{$index}}</td>
            <td><img ng-src="../carousalImages/{{row.path}}" width="100px"/></td>
            <td>{{row.path}}</td>
            <td>
				<select ng-model="row.isActive" ng-change="activeChanged('selectBox'+$index, $index)" id="selectBox{{$index}}">
					<option value = "1">Yes</option>
					<option value = "0">No</option>
				</select>
			</td>
			<td><button class="pure-button" ng-click="moveUp($index)">Move Up</button</td>
            <td><button class="pure-button" ng-click="moveDown($index)">Move Down</button</td>
            <td><a href = "javascript:void(0)" ng-click="delete(row.id,$index)">delete</td>
			</tr>
    </tbody>
</table>
	<button class="pure-button pure-button-primary" ng-click="saveTableData()">Save</button>

</fieldset>
					</div>
				</div>                           
			</div>

		</div>
		<div ng-include src="'partials/footer.html'"></div>

	</div>




