<div id="page-wrapper">
<!-- Header -->
<div id="header-wrapper">
    <header id="header" class="container">
        <div id="logo">
          <h1><a href="#">KOStation</a></h1>
        </div>
         <nav id="nav">
          <ul>
		 <li  class="current"><a href="#/plans">Plans</a></li>

          <li id="menuRegister"><a href="#/carousal">Carousal</a></li>
            <li><a href="" ng-click="logout();">Logout</a></li>
          </ul>
        </nav>
    </header>
  </div>  
		<div id="main-wrapper">
					<div class="container">
						<div class="row 200% pure-form" >

								<div class="8u 12u$(medium) important(medium)">
									<div id="content">
										<fieldset>
									        <legend><b>Plan Details</b></legend>
								</div>
							</div>
							
					</div>

				</div>

	</div>
<div ng-include src="'partials/footer.html'"></div>

		</div>
		


