<div id="page-wrapper">
<!-- Header -->
<div id="header-wrapper">
    <header id="header" class="container">
        <div id="logo">
          <h1><a href="#">KO Station</a></h1>
        </div>
         <nav id="nav">
          <ul>
		 <li  class="current"><a href="#/plans">Plans</a></li>

          <li id="menuRegister"><a href="#/carousal">Carousal</a></li>
            <li><a href="" ng-click="logout();">Logout</a></li>
          </ul>
        </nav>
    </header>
  </div>  
		<div id="main-wrapper">
					<div class="container">
						<div class="row 200% pure-form" >

								<div class="12u important(medium)">
									<div id="content">
										<fieldset>
									        <legend><b>Plan Details</b></legend>
								</div>
								<div >
								<form class="pure-form pure-form-aligned">
								<fieldset>
								 <div class="pure-control-group">
								 <label>Category</label>
									<select>
										<option>Facebook</option>
										<option>Whatsapp</option>
									</select>
									<button class="pure-button pure-input-rounded">+</button>
								</div>
								
								<div class="pure-control-group">
								 <label>Sub Category</label>
									<input type = "text">
								</div>
								
								<div class="pure-control-group">
								 <label>Duration</label>
									<input type = "text">
								</div>
								
								<div class="pure-control-group">
								 <label>Price</label>
									<input type = "text">
								</div>
								<div class="pure-controls">
								<label></label>
								<button class="pure-button pure-button-primary">Submit</button>
								</div>
									</fieldset>
								</form>
							</div>
							
					</div>

				</div>

	</div>
<div ng-include src="'partials/footer.html'"></div>

		</div>
		


