<!-- Service Content -->
   <div class="team service-text shadow">
      <div class="container" style="width: 62%;">
         <p class="aut autem"><b>KO Station</b> starts with a high speed internet connection. Super fast downloads. Direct pairing with youtube and torrent for buffer free streaming.</p>
      </div>
   </div>
<!-- //Service Content-->

<!-- services -->
   <div class="services" id="services">
      <div class="container">
         <h3>Our Wi-Fi Station's Amenity</h3>
         <p class="aut my-p-class" style="text-align: center">Fast internet at your door step.</p>
         <div class="wthree_services_grids">
            <div class="col-md-6 wthree_services_grid">
               <div class="col-xs-4 wthree_services_grid-left">
                  <div class="wthree_services_grid-left1">
                     <img src="app/img/settings.svg" />
                  </div>
               </div>
               <div class="col-xs-8 wthree_services_grid-right">
                  <h4>Easy Setup</h4>
                  <p class="my-p-class">Easy and fast setup, simple and flexible log in/sign up and you are ready to setup an open wifi at public place</p>
               </div>
               <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 wthree_services_grid">
               <div class="col-xs-4 wthree_services_grid-left">
                  <div class="wthree_services_grid-left1">
                     <img src="app/img/fast.svg" style="width: 100px;height: 100px;"/>
                  </div>
               </div>
               <div class="col-xs-8 wthree_services_grid-right">
                  <h4>Fast</h4>
                  <p class="my-p-class">Internet at speed you never imagined, 2 mbps dedicated speed per user. No buffering for videos, No more download wait time, super fast in Online gaming & chatting</p>
               </div>
               <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
         </div>
         <div class="wthree_services_grids">
            <div class="col-md-6 wthree_services_grid">
               <div class="col-xs-4 wthree_services_grid-left">
                  <div class="wthree_services_grid-left1">
                     <img src="app/img/shield.svg" />
                  </div>
               </div>
               <div class="col-xs-8 wthree_services_grid-right">
                  <h4>Secure</h4>
                  <p class="my-p-class">High end secure machines & technologies, advanced wifi routers to provide better coverage and security also log in/sign up for private and secure internet access</p>
               </div>
               <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 wthree_services_grid">
               <div class="col-xs-4 wthree_services_grid-left">
                  <div class="wthree_services_grid-left1">
                     <img src="app/img/24hours.svg" />
                  </div>
               </div>
               <div class="col-xs-8 wthree_services_grid-right">
                  <h4>Support</h4>
                  <p class="my-p-class">Our technical experts are happy to help you for 24/7</p>
               </div>
               <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
         </div>
      </div>
   </div>
<!-- services -->


<!-- portfolio-video -->
   <div class="portfolio-video shadow">
      <div class="container">
         <h3>About Us</b></h3>
         <p style="font-size: 21px;">We are here to Digitize your city with high speed wifi and start a new era of modernization. A single point access provider, bringing into the public placses. It is currently PCMC’s largest internet services provider.</p>               
      </div>
   </div>
<!-- //portfolio-video -->

<!-- Connect with us -->
   <div class="team" style="background: #eee">
      <h3 style="text-align: center;font-size: 20px;color: #424242;font-weight: 400;">Connect with us</h3>
      <div class="container">
         <center><img src="app/img/connect-us.svg" style="padding-top: 15px;height: 50px;
    width: 50px;" /></center>
         <p class="aut autem" style="color: #424242;padding-top: 25px;font-weight: 300;">We partner with large organizations, event planners, network operators, fiber providers, system integraters and IT infrastructure providers.</p>
         <p style="text-align: center;
    padding-top: 20px;
    color: #424242;">Join us to bring fast, reliable Wi-Fi.</p>
      </div>
   </div>
<!-- //Connect with us-->


<!-- contact 
   <div class="contact" id="mail">
      <div class="container">
         <h3>Contact Us</h3>
         <p class="aut my-p-class" style="color: #444;font-weight: normal;font-size: 21px;">Enter your email address to get more information</p>
         <div class="contact-grids shadow">
            <div layout="column" ng-cloak>
                 <div layout="column" ng-cloak class="md-inline-form">
                    <md-content layout-padding>
                     
                        <form name="userForm" ng-submit="sendMail()">  
                          <md-input-container class="md-block">
                            <label>Name</label>
                            <input ng-model="user.name">
                          </md-input-container>
                          <md-input-container class="md-block">
                            <label>Contact No</label>
                            <input ng-model="user.contactno">
                          </md-input-container>
                          <md-input-container class="md-block">
                            <label>Email</label>
                            <input ng-model="user.email" type="email">
                          </md-input-container>          
                          <md-input-container class="md-block">
                            <label>Message</label>
                            <textarea ng-model="user.message" rows="5" md-select-on-focus></textarea>
                          </md-input-container>

                     
                      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        
                        <md-button md-no-ink class="md-primary kostation-button shadow" type="submit">SEND</md-button>
                        
                        
                      </section>
                      </form>
                    </md-content>
                  </div>
               </div>            
         </div>
      </div>
   </div>
<!-- //contact -->